@media  screen and (min-width: 1200px){
  .header {
    display: flex;
    justify-content: center;
    width: 1170px;
    margin: 0 auto;
    height: 118px;
    align-items: center;
  }
  .navbar {
    display: none;
  }
  .header__menu {
    display: flex;
  }
  .header__menu-li {
    display: flex;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 200% */
    letter-spacing: 1.1px;
    text-transform: uppercase;
    margin-left: 68px;
    cursor: pointer;
  }
  .home {
    color: #57A4A4;
    margin-left: -34px;
  }
}
@media  screen and (max-device-width: 768px){
  .header {
    display: flex;
    justify-content: center;
    width: 1170px;
    margin: 0 auto;
    height: 106px;
    align-items: center;
  }
  .navbar {
    display: none;
  }
  .header__menu {
    display: flex;
  }
  .header__menu-li {
    display: flex;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 200% */
    letter-spacing: 1.1px;
    text-transform: uppercase;
    margin-left: 34px;
    cursor: pointer;
  }
  .home {
    color: #57A4A4;
    margin-left: 0;
  }
}
@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  h1 {
    margin: 0;
    font-weight: 400;
  }
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    color: white;
    position: relative;
    left: 166px;
    top: 50px;
    margin-bottom: 100px;

  }
  .img-x {
    width: 24px;
    height: 24px;
  }
  .nav-links-a{
    padding-top: 21px;
    padding-bottom:  21px;
    padding-right: 180px;
    padding-left: 40px;
    position: relative;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
  }
.nav-links-a:hover {
  background-color: #e5e5e5;
}
  .menu-toggle{
    font-size: 65px;
    cursor: pointer;
    background-color: black;
    padding: 20px 50px 20px 50px;
    z-index: 999;
  }

  .nav-links-a {
    color: #4E4E4E;
    text-decoration: none;
    display: flex;


  }
  .nav-links{
    background-color: rgba(245, 245, 245, 1);
    margin-left: 255px;
    position: absolute;
    top: 110px;
    z-index: 1;
    display: none;
  }
  .home {
    color: #57A4A4;
  }
  .X-crestik{
    font-size: 45px;
    cursor: pointer;
    padding: 10px 12px 10px 12px;
  }
  .hidden{
    display: none;
  }
  .visible{
    display: block;
  }
  .header{
    display: none;
  }

}
